# Virtual Env
venv/

# PyCharm/JetBrains folders
.idea/

# VSCode folders
.vscode

# Byte compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Ignore hebilog files
*.hebilog

**/logs

# Example gains output by some examples
**/my_actuator_gains.xml

# Ignore Mac added files
.DS_Store
